# ======================
# Node / JavaScript
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Environment variables
# ======================
.env
.env.local
.env.development
.env.production

# ======================
# Build outputs
# ======================
dist/
build/

# ======================
# Backend downloads
# ======================
youtube-playlist-backend/downloads/
youtube-playlist-backend/*.zip

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp

# ======================
# Logs
# ======================
logs/
*.log
